// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #52B3D9;


/* Site Colors */
$dark-grey:     #222222;
$dark-grey2:    #404040;
$light-grey:    #dadfe1;
$off-white:     #ececec;
$highlight:     #52B3D9;
$highlight2:    #3f92b3;

/* Site Layers */
$layer-top: 5;
$layer-bottom: 1;
$layer-behind: -1;

/* Site Fonts */
$header1:   'Abril Fatface', cursive;
$header2:   'Poppins', sans-serif;
$paragraph: 'Roboto', sans-serif;
